/**** 
* GENERAL
*** */

/**** Container ***/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*** GENERAL - SPACING **/
.col {
    padding: 10px;
}

.pad-20-y {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-15-y {
    padding-top: 15px;
    padding-bottom: 15px;
}

/**** GENERAL - GRID **/
.inline-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: start;
    align-items: center;
}

.inline-row>div {
    flex: 1 0 auto;
}

/**** GENERAL - ALIGNMENT **/
.content-all-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-top {
    display: flex;
    align-items: flex-start;

}
.content-middle {
    display: flex;
    align-items: center;

}

.content-bottom {
    display: flex;
    align-items: flex-end;

}

.content-left {
    display: flex;
    justify-content: left;
}
.content-center {
    display: flex;
    justify-content: center;
}

.content-right {
    display: flex;
    justify-content: flex-end;
}


/**** 
* HEADER
*** */

.header-container {
    position: relative;
}

.top-header {
    width: 100%;

}

.top-header .logo-section {
    width: 50%;
}
.bru-logo{
    object-fit: contain;
}

/**** HEADER - MENU ***/
header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  .rps_trademark{
      display: none !important;
  }

/**** 
* HOME
*** */




/**** 
*
*
* DEVICE RESPONSIVENESS
*
*
*** */

/**** Container  ***/

/* RESPONSIVE - SMALL  */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* RESPONSIVE - MEDIUM  */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* RESPONSIVE - LARGE  */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* RESPONSIVE - xLARGE  */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}