.modern {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box; }

.template-password {
  padding: 0;
  margin: 0 auto;
  background-image: var(--bg-password);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: table;
  height: 100%;
  width: 100%; }

.template-password *, .template-password :after, .template-password :before, .template-password input {
  box-sizing: border-box; }

@media (max-width: 767px) {
  .template-password {
    background-size: inherit; } }

.password-page__wrapper a {
  color: inherit; }

.password-page__wrapper hr {
  border-color: inherit;
  margin: 0 auto;
  max-width: 60px;
  padding: 15px 0; }

.password-page__wrapper .share-links.social-sharing {
  margin: 0 auto; }

.password-page__wrapper .share-links.social-sharing > span {
  display: inline-block;
  padding: 0;
  -webkit-padding-end: 15px;
  padding-inline-end: 15px; }

.password-page__wrapper .share-links.social-sharing ul.list-inline {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.password-page__wrapper .share-links.social-sharing ul.list-inline > li {
  list-style: none; }

.password-page__wrapper .share-links.social-sharing.is-clean a {
  background: #fff none repeat scroll 0 0;
  color: #333; }

.password-page__wrapper .share-links.social-sharing.is-clean a:hover {
  background: #ececec none repeat scroll 0 0; }

.template-password .share-links.social-sharing {
  font-family: var(--font-standard); }

.template-password .share-links.social-sharing * {
  box-sizing: border-box; }

.template-password .share-links.social-sharing li a {
  color: inherit; }

@media (max-width: 479px) {
  .template-password .share-links.social-sharing li a {
    font-size: 12px; } }

.template-password .share-links.social-sharing.is-clean .share-count {
  top: -1px; }

.template-password .share-links.social-sharing.is-clean .fa-facebook {
  color: #3b5998; }

.template-password .share-links.social-sharing.is-clean .fa-twitter {
  color: #00aced; }

.template-password .share-links.social-sharing.is-clean .fa-pinterest {
  color: #cb2027; }

.template-password .share-links.social-sharing.is-clean .fa-fancy {
  color: #4999dc; }

.template-password .share-links.social-sharing.is-clean .fa-google-plus {
  color: #dd4b39; }

.template-password .share-links.social-sharing.is-clean a {
  background-color: #fff;
  border: 1px solid #ececec;
  color: #333;
  height: 30px;
  line-height: 30px; }

.template-password .share-links.social-sharing.is-clean a span {
  font-size: 13px;
  height: 30px;
  line-height: 30px; }

.template-password .share-links.social-sharing.is-clean a .share-title {
  font-weight: 400; }

.template-password .share-links.social-sharing.is-clean a:hover {
  background-color: #ececec; }

.template-password .share-links.social-sharing.is-clean a:hover .share-count {
  background-color: #fff; }

.template-password .share-links.social-sharing.is-clean a:hover .share-count:after {
  border-right-color: #fff; }

.template-password .share-links.social-sharing.is-large a {
  height: 44px;
  line-height: 44px; }

.template-password .share-links.social-sharing.is-large a span {
  font-size: 18px;
  height: 44px;
  line-height: 44px; }

.template-password .share-links.social-sharing.is-large a .fa {
  padding: 0;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  -webkit-padding-start: 18px;
  padding-inline-start: 18px; }

.template-password .share-links.social-sharing.is-large a .fa:before {
  line-height: 44px; }

.template-password {
  height: 100vh;
  text-align: center; }

.template-password .hidden-label {
  display: none; }

.template-password .share-title {
  font-size: 12px;
  font-weight: 900;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px; }

.template-password .is-large .share-title {
  -webkit-padding-end: 16px;
  padding-inline-end: 16px; }

.template-password .is-large .share-count {
  font-size: 18px;
  padding: 0 14px; }

.template-password .share-facebook {
  background-color: #3b5998; }

.template-password .share-facebook:hover {
  background-color: #2d4373; }

.template-password .share-twitter {
  background-color: #00aced; }

.template-password .share-twitter:hover {
  background-color: #0087ba; }

.template-password .share-pinterest {
  background-color: #cb2027; }

.template-password .share-pinterest:hover {
  background-color: #9f191f; }

.template-password .share-fancy {
  background-color: #4999dc; }

.template-password .share-fancy:hover {
  background-color: #2780cb; }

.template-password .share-google {
  background-color: #dd4b39; }

.template-password .share-google:hover {
  background-color: #c23321; }

.password-page__header__inner {
  padding: 15px; }

@media (min-width: 768px) {
  .password-page__header__inner {
    -webkit-padding-end: 30px;
    padding-inline-end: 30px;
    -webkit-padding-start: 30px;
    padding-inline-start: 30px; } }

.password-page__logo {
  color: inherit;
  margin-top: 90px; }

.password-page__logo .logo {
  max-width: 100%; }

.password-page__main {
  height: 100%;
  margin: 0 auto;
  width: 100%; }

.password-page__main__inner {
  padding: 15px;
  vertical-align: middle; }

.password-page__hero {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.25;
  margin: .83em auto;
  color: inherit;
  font-size: 4em;
  text-includeing: optimizelegibility; }

@media (max-width: 767px) {
  .password-page__hero {
    font-size: 2.625em; } }

.password-page__message {
  font-size: 120%;
  font-style: italic; }

.password-page__message img {
  max-width: 100%; }

.password-page__login-form, .password-page__message, .password-page__signup-form {
  margin: 0 auto;
  max-width: 500px; }

.password-page__login-form .h4, .password-page__message .h4, .password-page__signup-form .h4 {
  font-size: var(--body-font-size);
  margin: 1em auto;
  color: inherit; }

.password-page__login-form, .password-page__message {
  padding: 30px 15px;
  text-align: center; }

@media screen and (min-width: 480px) {
  .password-page__login-form, .password-page__signup-form {
    padding: 0 15px; } }

.password-page__login-form .input-group, .password-page__signup-form .input-group {
  width: 100%; }

.password-page__login-form .errors ul, .password-page__signup-form .errors ul {
  list-style-type: none;
  -webkit-margin-start: 0;
  margin-inline-start: 0; }

.lt-ie9 .template-password .newsletter__submit-text--small, .lt-ie9 .template-password .password-page__login-form__submit-text--small {
  display: none !important; }

input.input-group-field {
  height: 37px;
  padding: 8px 10px;
  line-height: 1.42;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px; }

input.password-page__login-form__submit[type=submit], input.password-page__signup-form__submit[type=submit] {
  font-size: .9em; }

#LoginModal input.input-group-field {
  color: #333; }

#LoginModal input.input-group-field::-webkit-input-placeholder {
  color: #333; }

#LoginModal input.input-group-field:-moz-placeholder, #LoginModal input.input-group-field::-moz-placeholder {
  color: #333; }

#LoginModal input.input-group-field:-ms-input-placeholder {
  color: #333; }

.password-page__social-sharing {
  margin-top: 30px; }

.password-page__social-sharing .h4 {
  color: inherit;
  font-size: var(--body-font-size);
  margin-bottom: 15px; }

.password-login {
  text-align: end; }

.admin-login, .password-login {
  margin-top: 15px; }

.admin-login a, .password-login a {
  color: inherit; }

.admin-login a:hover, .password-login a:hover {
  color: var(--main-color); }

.password-login {
  font-family: var(--font-standard);
  font-size: .875em;
  line-height: 14px; }

.password-login .js-toggle-login-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.password-login svg {
  -webkit-padding-end: 10px;
  padding-inline-end: 10px; }

.password-login svg path {
  fill: var(--white); }

.lock-icon-svg {
  display: inline-block;
  height: 14px;
  vertical-align: baseline;
  width: 14px; }

.lock-icon-svg path {
  fill: currentcolor; }

.lt-ie9 .lock-icon-svg {
  display: none; }

.password-page__footer_inner {
  font-size: 95%;
  line-height: 24px;
  padding: 30px;
  vertical-align: bottom;
  color: inherit; }

.shopify-link, .shopify-link:hover {
  color: inherit; }

.shopify-logo-svg {
  display: inline-block;
  height: 24px;
  line-height: 0;
  vertical-align: top;
  width: 82.2857px; }

.shopify-logo-svg path {
  fill: currentcolor; }

.lt-ie9 .shopify-logo-svg {
  display: none; }

.modern .shopify-name {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.input-group {
  border-collapse: separate;
  display: table;
  position: relative; }

.input-group .btn, .input-group .btn--secondary, .input-group .btn--tertiary, .input-group input.btn--secondary, .input-group input.btn--tertiary, .input-group input[type=submit] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  -moz-user-select: none;
  border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  color: var(--button-btn1-txt);
  background: var(--button-btn1);
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: var(--body-font-size);
  font-weight: var(--font-bold);
  font-style: normal;
  line-height: 1.42;
  height: 37px;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap; }

.input-group .btn--secondary:focus, .input-group .btn--secondary:hover, .input-group .btn--tertiary:focus, .input-group .btn--tertiary:hover, .input-group .btn:focus, .input-group .btn:hover, .input-group input.btn--secondary:focus, .input-group input.btn--secondary:hover, .input-group input.btn--tertiary:focus, .input-group input.btn--tertiary:hover, .input-group input[type=submit]:focus, .input-group input[type=submit]:hover {
  color: var(--button-hover-btn1-txt);
  background: var(--button-hover-btn1); }

.input-group-btn {
  padding: 0;
  white-space: nowrap;
  width: 1%; }

.input-group-btn, .input-group-field {
  display: table-cell;
  margin: 0;
  vertical-align: middle; }

.mfp-hide {
  display: none !important; }

.mfp-bg {
  background: #fff none repeat scroll 0 0;
  opacity: 1;
  overflow: hidden;
  z-index: 1042; }

.mfp-bg, .mfp-wrap {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%; }

.mfp-wrap {
  outline: medium none !important;
  z-index: 1043; }

.mfp-container {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 0 8px;
  text-align: center;
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  top: 0; }

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: start;
  vertical-align: middle;
  z-index: 1045;
  color: #333; }

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
  cursor: auto;
  width: 100%; }

.mfp-ajax-cur {
  cursor: progress; }

button.mfp-arrow, button.mfp-close {
  background: transparent none repeat scroll 0 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  outline: medium none;
  overflow: visible;
  padding: 0;
  z-index: 1046; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.mfp-close {
  color: #333;
  font-family: Arial,Baskerville,monospace;
  font-size: 28px;
  font-style: normal;
  height: 44px;
  line-height: 44px;
  width: 44px;
  opacity: .65;
  padding: 0 0 18px;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  display: block;
  top: 0;
  right: 0; }

.mfp-close:focus, .mfp-close:hover {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close {
  color: #fff;
  -webkit-padding-end: 6px;
  padding-inline-end: 6px;
  right: -6px;
  text-align: end;
  width: 100%; }

button.mfp-close {
  color: #333;
  font-size: 30px;
  margin: 30px;
  opacity: 1; }

@media (max-width: 767px) {
  button.mfp-close {
    margin: 0; } }

.layout-rtl .password-login {
  text-align: start; }

.layout-rtl input.input-group-field {
  border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0; }

.layout-rtl .input-group .btn, .layout-rtl .input-group .btn--secondary, .layout-rtl .input-group .btn--tertiary, .layout-rtl .input-group input.btn--secondary, .layout-rtl .input-group input.btn--tertiary, .layout-rtl .input-group input[type=submit] {
  border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px; }

.layout-rtl .mfp-close {
  right: auto;
  left: 0; }
