{% comment %}
Delivery Terms and Conditions
{% endcomment %}
<div id="col-main" class="page-content page-about-us">
    <div id="shopify-section-page-banner" class="shopify-section page-banner-wrapper">
        <div class="banner-section dashbuy-section about-banner"
            style="background-image:url(//cdn.shopify.com/s/files/1/0617/4510/3102/files/2153965-scaled_1920x.jpg?v=1642074696);">
            <div class="bru-background-overlay"></div>
            <div class="container bru-full-container">
                <div class="banner-text">
                    <div class="banner-text-item">
                        <h4>{{ page.title }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ page.content }}
</div>