{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

<div class="container">
  <div id="col-main">
    
    <h1 class="page-heading">{{ page.title }}</h1>

    <div class="page-content">
      {{ page.content }}
    </div>

  </div>
</div>

